<div class="intro">
    <p>Hello <%= name%>. Here are the list of students.</p>
    <a href="/logOut">Log Out</a>
</div>

<div class="button-class">
    <a href="/dcPage" class="nactive">Registration Approval</a>
    <a href="/dcReportApproval" class="active">Report Submit Approval</a>
    <a href="/dcVivaReport" class="active">View Viva Report</a>
    <a href="/dcTitleChange" class="active">Approve Title change</a>
    <a href="/dcRegistrationExtension" class="active">Approve Extension of registration</a>
</div>
