/*
        #5375e2
        #7791a1
        #f65868
        #f3aa92
        #5c616e
        #fefefe
*/

* {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

table {
    height: fit-content;
    background-color: darkseagreen;
}

th {
    height: 10%;
    width: 20%;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 4px;
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    background-color: #5375e2;
    color: whitesmoke;
}

td {
    width: 20%;
    border: 2px solid black;
    border-radius: 4px;
    border-collapse: collapse;
    background-color: #fefefe;
    margin-left: 5px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.heading {
    flex: 1;
    background-color: #f3aa92;
    display: flex;
    flex-direction: row;
}

.heading-det {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heading-det-name {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-det-name-eng {
    flex: 4;
    font-size: 1.6em;
    font-weight: bold;
    color: #5c616e;
}

.heading-det-name-ban {
    flex: 2;
    font-size: 1.5em;
    font-weight: bold;
    color: #5c616e;
}

.heading-det-name-empty {
    flex: 1;
}

.heading-det>img {
    width: 80px;
    height: 80px;
    flex: 1.2;
    margin-left: 2%;
    margin-right: 2%;
}

.heading-empty {
    flex: 1;
}

.heading-log {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2%;
}

#login {
    height: 50%;
    width: 50%;
    border-radius: 10px;
    font-size: 1em;
    border-style: none;
    background-color: #f65868;
    color: #fefefe;
}

.main {
    flex: 6;
    display: flex;
    flex-direction: row;
}

.main-details {
    flex: 2.5;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-details-about {
    width: 92%;
    height: 98%;
}

h1 {
    height: auto;
    text-align: center;
    color: #5375e2;
}

h2 {
    height: auto;
    text-align: center;
    color: #7791a1;
}

h4 {
    height: auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: #f65868;
}

a:hover {
    color: #5375e2;
    font-size: 1.1em;
}

p {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    height: auto;
    text-align: justify;
    color: #313744;
}

ul {
    height: auto;
    color: #313744;
    text-align: justify;
}

ol {
    height: auto;
    color: #313744;
    text-align: justify;
}

li {
    list-style-position: inside;
}

input {
    text-align: center;
}

.main-login {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-form {
    height: 50%;
    width: 80%;
}

#waitinglist-form {
    height: 50%;
    width: 60%;
    text-align: center;
}

.login-error {
    height: auto;
    background-color: red;
}

.text-ip {
    height: 15%;
    width: 80%;
    margin: 5px;
    background-color: #dcdcdc;
    border-radius: 10px;
    border-style: none;
    padding-left: 10px;
    font-size: 1.1em;
}

.login-form-btn {
    display: flex;
    flex-direction: row;
    height: 40%;
    background-color: red;
    margin: 3px;
}

.btn-ip {
    height: 14%;
    width: 40%;
    margin: 4px;
    border-radius: 10px;
    border-style: none;
    background-color: #5375e2;
    color: #fefefe;
    font-size: 1.1em;
}

.btn-ip:hover {
    background-color: #f65868;
    cursor: pointer;
}

.btn-ipAccept {
    margin-left: 8px;
    margin-right: 8px;
    height: 8%;
    width: 30%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #188015;
    color: #fefefe;
}

.btn-ipReject {
    margin-left: 8px;
    margin-right: 8px;
    height: 8%;
    width: 30%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-style: none;
    background-color: #da1c1c;
    color: #fefefe;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.enroll-class {
    width: 30%;
    height: 8%;
    border-radius: 10px;
    font-size: 1.5em;
    margin: 3px;
    border: none;
}