<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/supervisor.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var expanded = false;

        function showCheckboxes() {
            var checkboxes = document.getElementById("checkboxes");
            if (!expanded) {
                checkboxes.style.display = "block";
                expanded = true;
            } else {
                checkboxes.style.display = "none";
                expanded = false;
            }
        }

        // Pass the checkbox name to the function
        function getCheckedBoxes(chkboxName) {
            var div = document.getElementById(chkboxName);
            var checkboxes = div.getElementsByTagName('input');
            var len = checkboxes.length;
            let checkboxesChecked = [];
            for (var i = 0; i < len; i++) {
                if (checkboxes[i].type === 'checkbox' && checkboxes[i].checked) {
                    checkboxesChecked.push(checkboxes[i].name);
                }
            }
            console.log(checkboxesChecked);
            // Return the array if it is non-empty, or null
            return checkboxesChecked.length > 0 ? checkboxesChecked : null;
        }

        function getProfID(chkboxName) {
            var div = document.getElementById(chkboxName);
            var checkboxes = div.getElementsByTagName('input');
            var len = checkboxes.length;
            let checkboxesChecked = [];
            for (var i = 0; i < len; i++) {
                if (checkboxes[i].type === 'checkbox' && checkboxes[i].checked) {
                    checkboxesChecked.push(checkboxes[i].id);
                }
            }
            //console.log(checkboxesChecked);
            // Return the array if it is non-empty, or null
            return checkboxesChecked.length > 0 ? checkboxesChecked : null;
        }

        function showCheckedBoxes() {
            console.log("hi");
            var checkedBoxes = getCheckedBoxes("checkboxes");
            document.getElementById("checkedBox").innerHTML = "Profs selected for RAC: " + "<br>";
            for(var i=0; i<checkedBoxes.length; i++) {
                document.getElementById("checkedBox").innerHTML += checkedBoxes[i] + "<br>";    
            }
            document.getElementById("prof_name").value = document.getElementById("prof_name").value + getProfID("checkboxes") + ",";
        }
    </script>
</head>

<body style="overflow-x: hidden;overflow-y: scroll;">
    <img src="/images/header.png" style="width:100%;height:auto;position:fixed;top:0; z-index: 0;opacity: 0.9;">
    <div class="contentRac">
    <div class="intro">
        <div class="intro12345">
        <p>Hello {%name%}.</p>
        <p>Student ID: {%student_id%}</p>
        </div>
        <a class="intro23456" href="/logOut">Log Out</a>
    </div>
    <div class="container">
        <div class="det3" style="margin-left: 2px;">
            <form>
                <div class="multiselect">
                    <br>
                    Select professors for RAC:
                    <br>
                    <div class="selectBox" onclick="showCheckboxes()">
                        <select id="checkboxList">
                            <option>Choose professors</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="checkboxes">
                        {%list%}
                    </div>
                </div>
            </form>
        </div>
        <div class="det3" style="margin-top: 25px;">
            <br>
            <button type="button" id="checkedList" onclick='showCheckedBoxes()'>Selected Profs</button>
            <form action="/supervisor/assignRAC/submit" style="align-items: center;margin-left:30%" method="POST">
                <p name="racmembers" id="checkedBox"></p>

                <input type="hidden" name="prof_name" id="prof_name" value="">
                <input type="hidden" name="stud_id" value={%student_id%}>

                <input type="submit" value="Approve" class="racApprove">
            </form>
        </div>
    </div>
    </div>
</body>

</html>
