<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/examiner.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <img src="/images/header.png" style="width:100%;height:auto;position:fixed;top:0; z-index: 0;opacity: 0.9;">
    <div class="all-content">
    	<div class="intro">
            <p>Hello {%name%}. Here are the list of students.</p>
            
            <a href="/supervisor" style="text-decoration:none;color:black;background-color:#6dd5ed;height:2rem;width:20rem;margin-right:3rem;font-weight:normal;border-color:#2193b0;border-style:solid;border-radius:6px;text-align:center;border-width:2px;">Registration Approval</a>
            <a href="/logOut">Log Out</a>

        </div>
    	<div class="main-content">
        {%forms%}
    	</div>
	</div>
</body> 