<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/supervisor.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>JU PHDMS Supervisor</title>
    <link rel="shortcut icon" type="image/jpg" href="images/ju_logo.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script>
        $(function() {
            $("#header").load("header.html");
        });
    </script> -->
</head>

<body>
    <img src="/images/header.png" style="width:100%;height:auto;opacity: 0.9;">
    <div class="logOutClass">
        <div></div>
        <a href="/changePassword">Change Password &#128273;</a>
        <a href="/logout">Log Out <span class='fa'>&#xf011;</span></a>
    </div>
    <div class="main-content">
        <div class="intro">
            <p>Hello {%name%}. Here are the list of students.</p>
            {%specialTag%}
            {%supTag%}
            <!-- <a href="/myStudents" style="text-decoration:none;color:white;background-color:#ff9900;height:2rem;width:7rem;margin-right:3rem;font-weight:normal;border-color:red;border-style:solid;border-radius:6px;text-align:center;border-width:2px;">Students</a> -->

        </div>
        <form class="list" name="lists" action="/supervisor/approval/submit" method="POST">
            {%list%}
        </form>
    </div>
</body>

</html>