<html>
<head>
	<title>Student List</title>
	<link rel="stylesheet" href="/css/addExamVC.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<title>JU PHDMS Add examiner</title>
    <link rel="shortcut icon" type="image/jpg" href="images/ju_logo.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<img src="images/header.png" style="width:100%;height:auto;opacity: 0.9;">
 	<div class="logOutClass">
        <div></div>
        <a href="/changePassword">Change Password &#128273;</a>
        <a href="/logout">Log Out <span class='fa'>&#xf011;</span></a>
    </div>
    <div class="nav-content">
    	<div></div>
    	<a href="/vc/PrevSelected" class='btn'>Examiner Status</a>
    </div>
	<div class="main-content">
	    <h1 style="width:100%;color:#5375e2;text-align:center;">Select Examiners for Following Students:</h1>
		{%forms%}
    </div>
</body>