<div class="intro">
    <p>Hello <%= name%>. Here are the list of students.</p>
    <a href="/logOut">Log Out</a>
</div>

<div class="button-class">
    <a href="/prcRegistrationApproval" class="nactive">Registration Approval</a>
    <a href="/prcReportApproval" class="active">Report Submit Approval</a>
    <a href="/prcVivaReport" class="active">Submit Viva Report</a>
    <a href="/prcTitleChange" class="active">Request Title change</a>
    <a href="/prcRegistrationExtension" class="active">Request Extension of registration</a>
</div>
