<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/supervisor.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <img src="images/header.png" style="width:100%;height:auto;position:fixed;top:0; z-index: 0;opacity: 0.9;">
    <div class="main-content">
        <%- include('prcCommon.ejs', {name: name}) %>
        <form method="POST" action="/prcRegistrationExtensionSubmit">
            <label for="stud_id">Student Name</label><br>
            <select name="stud_id" >
                <% results.forEach(function(result) { %>
                <option value = <%= result.stud_id %> ><%= result.name %></option>
                <% }); %>
            </select><br>
            <input type="submit" name="submit" value="Submit request">
        </form>
    </div>
</body>

</html>