<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/prcs.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>JU PHDMS Viva report</title>
    <link rel="shortcut icon" type="image/jpg" href="images/ju_logo.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <img src="/images/header.png" style="width:100%;height:auto;position:fixed;top:0; z-index: 0;opacity: 0.9;">
    <div class="logOutClass">
        <div></div>
        <a href="/changePassword">Change Password &#128273;</a>
        <a href="/logout">Log Out <span class='fa'>&#xf011;</span></a>
    </div>
    <div class="main-content">
        <%- include('../commons/header.ejs', {name: name}) %>
        <div class="menu-class">
        <%- include('prcMenu.ejs', {active: 3}) %>
        <% if(results.length == 0) { %>
            <p style="width:80%;text-align:center;">No students applicable</p>
        <% } else { %>
            <form method="POST" action="/prc/vivaReport/submit" enctype="multipart/form-data" class="form-class">
                <div class="dets1">
                    <label for="stud_id">Student Name:</label>
                    <select name='stud_id' >
                        <% results.forEach(function(result) { %>
                        <option value=<%=result.stud_id%> ><%= result.name + '(' + result.stud_id + ')'%></option>
                        <% }); %>
                    </select>
                </div>
                <div class="dets3">
                    <label for="viva_report">Upload report for presubmission viva:</label></br>
                    <input type="file" name="viva_report" required><br>
                </div>
                <div class="dets2">
                    <input type="submit" name="submit" value="Submit Report">
                </div>
            </form>
        <% } %>
        </div>
    </div>
</body>

</html>