<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/prcs.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <img src="images/header.png" style="width:100%;height:auto;position:fixed;top:0; z-index: 0;opacity: 0.9;">
    <div class="main-content">
        <%- include('../commons/header.ejs', {name: name}) %>
        <div class="menu-class">
        <%- include('prcMenu.ejs', {active: 3}) %>
        <form method="POST" action="/prcVivaReportSubmit" enctype="multipart/form-data">
            <label for="stud_id">Student Name</label><br>
            <select name='stud_id' >
                <% results.forEach(function(result) { %>
                <option value=<%=result.stud_id%> ><%= result.name + '(' + result.stud_id + ')'%></option>
                <% }); %>
            </select><br>
            <label for="viva_report">Upload report for presubmission viva:</label></br>
            <input type="file" name="viva_report" required><br>
            <input type="submit" name="submit" value="Submit Report">
        </form>
        </div>
    </div>
</body>

</html>