<html>
<head>
	<title>Student List</title>
	<link rel="stylesheet" href="css/addExamVC.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
	<img src="images/header.png" style="width:100%;height:auto;position:fixed;top:0; z-index: 0;opacity: 0.9;">

	<div class="main-content">
	    <h1 style="width:100%;color:#5375e2;text-align:center;">Select Examiners for Following Students:</h1>
		{%forms%}
    </div>
</body>