<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/applicationForm.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script> 
        $(function(){
            $("#header").load("header.html"); 
        });
    </script>
</head>

<body>
    <div id="header"></div>
    <div class="logout">
        <a href="./logout">Logout</a>
    </div>
    <div class="main">
            <form method="POST" action="/applicationFormSubmit" class="registration-form">
                <table class="registration-table">
                    <tr class="header-row">
                        <td colspan="4">
                            <h2>Research scholar's details</h2>
                        </td>
                    </tr>
                    <tr class="blank-row">
                        <td colspan="4"></td>
                    </tr> 
                    <tr class="ip-row">
                        <td class="col-odd"><label for="student_name">Name</label></td>
                        <td class="col-evn"><input type="text" name="student_name" class="text-ip" required></td>
                        <td class="col-odd"><label for="enrolment_number">Enrolment number</label></td>
                        <td class="col-evn"><input type="text" name="enrolment_number" class="text-ip" value="{%enrolment_no%}" readonly></td>
                    </tr>
                    <tr class="ip-row">
                        <td class="col-odd"><label for="nationality">Nationality</label></td>
                        <td class="col-evn"><input type="text" name="nationality" class="text-ip" required></td>
                        <td class="col-odd"><label for="dob">Date of birth</label></td>
                        <td class="col-evn"><input type="date" name="dob" class="text-ip" required></td>
                    </tr>
                    <tr class="ip-row">
                        <td class="col-odd"><label for="sex">Sex</label></td>
                        <td class="col-evn">
                            <select name="sex" class="text-ip">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="others">Others</option>
                            </select>
                        </td>
                        <td class="col-odd"><label for="marital_status">Marital status</label></td>
                        <td class="col-evn">
                            <select name="marital_status" class="text-ip">
                                <option value="unmarried">Unmarried</option>
                                <option value="married">Married</option>
                                <option value="divorced">Divorced</option>
                                <option value="widowed">Widowed</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="ip-row">
                        <td class="col-odd"><label for="parent_name">Father's/Mother's name</label></td>
                        <td class="col-evn"><input type="text" name="parent_name" class="text-ip" required></td>
                        <td class="col-odd"><label for="category">Category</label></td>
                        <td class="col-evn">
                            <select name="category" class="text-ip">
                                <option value="general">General</option>
                                <option value="sc">SC</option>
                                <option value="st">ST</option>
                                <option value="obc">OBC</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="ip-row">
                        <td class="col-odd"><label for="mobile_no">Mobile number</label></td>
                        <td class="col-evn"><input type="text" name="mobile_no" class="text-ip" required></td>
                        <td class="col-odd"><label for="phone_no">Phone number</label></td>
                        <td class="col-evn"><input type="text" name="phone_no" class="text-ip" required></td>
                    </tr>
                    <tr class="ip-row"></tr>
                        <td class="col-odd"><label for="student_email">Email</label></td>
                        <td class="col-evn"><input type="email" name="student_email" class="text-ip" value="{%email%}" readonly></td>
                        <td class="col-odd"><label for="dep_id">Department ID</label></td>
                        <td class="col-evn"><input type="text" name="dep_id" class="text-ip" required></td>
                    </tr>
                    <tr class="ip-row">
                        <td class="col-odd"><label for="address1">Permanent address</label></td>
                        <td class="col-evn" colspan="3"><input type="text" name="address1" class="text-ip" required></td>
                    </tr>
                    <tr class="ip-row">
                        <td class="col-odd"><label for="address2">Address for communication</label></td>
                        <td class="col-evn" colspan="3"><input type="text" name="address2" class="text-ip"></td>
                    </tr>
                    
                    <tr class="blank-row">
                        <td colspan="4"></td>
                    </tr>   
                    <tr class="header-row">
                        <td colspan="4">
                            <h2>Present employment details</h2>
                        </td>
                    </tr>
                    <tr class="blank-row">
                        <td colspan="4"></td>
                    </tr> 
                    <tr class="ip-row">
                        <td class="col-odd"><label for="org_name">Name of organisation</label></td>
                        <td class="col-evn" colspan="3"><input type="text" name="org_name" class="text-ip" required></td>
                    </tr>
                    <tr class="ip-row">
                        <td class="col-odd"><label for="nature_of_work">Nature of research work/duty</label></td>
                        <td class="col-evn" colspan="3"><input type="text" name="nature_of_work" class="text-ip" required></td>
                    </tr>
                    <tr class="blank-row">
                        <td colspan="4"></td>
                    </tr>
                    <tr class="header-row">
                        <td colspan="4">
                            <h2>Thesis details</h2>
                        </td>
                    </tr>
                    <tr class="blank-row">
                        <td colspan="4"></td>
                    </tr> 
                    <tr class="ip-row">
                        <td class="col-odd"><label for="title">Title of the thesis</label></td>
                        <td class="col-evn" colspan="3"><input type="text" name="title" class="text-ip" required></td>
                    </tr>
                    <tr class="ip-row">
                        <td class="col-odd"><label for="sop">Statement of purpose</label></td>
                        <td class="col-evn" colspan="3"><input type="text" name="sop" class="text-ip" required></td>
                    </tr>
                    <tr class="blank-row">
                        <td colspan="4"></td>
                    </tr>           
                    <tr class="header-row">
                        <td colspan="4">
                            <h2>Supervisor's details</h2>
                        </td>
                    </tr>
                    <tr class="blank-row">
                        <td colspan="4"></td>
                    </tr> 
                    <tr class="ip-row">
                        <td class="col-odd"><label for="supervisor_id">Supervisor ID</label></td>
                        <td class="col-evn"><input type="text" name="supervisor_id" class="text-ip" required></td>
                        <td class="col-odd"><label for="supervisor_name">Name</label></td>
                        <td class="col-evn"><input type="text" name="supervisor_name" class="text-ip"></td>
                    </tr>
                    <tr class="ip-row">
                        <td class="col-odd"><label for="supervisor_email">Email</label></td>
                        <td class="col-evn"><input type="email" name="supervisor_email" class="text-ip"></td>
                        <td class="col-odd"><label for="supervisor_designation">Designation</label></td>
                        <td class="col-evn"><input type="text" name="supervisor_designation" class="text-ip"></td>
                    </tr>
                    <tr class="blank-row">
                        <td colspan="4"></td>
                    </tr> 
                </table>
                <button class="submit-btn" type="submit"><h3>Submit</h3></button>
            </form>
    </div>
</body>

</html>