<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/resetPassword.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>JU PHDMS Change password</title>
    <link rel="shortcut icon" type="image/jpg" href="images/ju_logo.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
    <img src="images/header.png" style="width:100%;height:auto;opacity: 0.9;">
    <form class="main-content" action="/changePasswordSubmit" method="post">
        <h1 style="color:#ea5858;height:40%;font-size:6em;">&#128274;</h1>
        <h2 style="color:#5f6e79;height:10%;font-size:1.5em";>Reset Password</h2>
        <input type="password" name="previous_password" placeholder="Previous password">
        <input type="password" name="new_password" placeholder="New Password">
        <input type="password" name="confirm_password" placeholder="Confirm Password">
        <input type="hidden" name="recover_email" value="{%email%}">
        <input type="submit" name="submit">
        {%error%}
    </form>
</body>