<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="../public/css/dbshow.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="navbar">
        <a href="#" class="active">Students</a>
        <a href="#">Supervisors</a>
        <a href="#">RAC</a>
        <a href="#">PRC</a>
        <a href="#">Doctorate Committe</a>
    </div>
    <div class="display">

    </div>
</body>

</html>