<html>

<head>
    <link rel="stylesheet" href="css/studentMain.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&family=Gloria+Hallelujah&family=Lobster+Two&display=swap" rel="stylesheet">
</head>

<body>
    <img src="images/header.png" style="width:100%;height:auto;position:fixed; top:0; z-index: 0;opacity: 0.9;">
    <div class="main-content">
        <div class="student-details">
            <div class="main-details">
                <div class="details-1">
                    <div class="details">
                        <div class="header-details">
                            Name:
                        </div>
                        <div class="answer-details">
                            {%name%}
                        </div>
                    </div>
                    <div class="details">
                        <div class="header-details">
                            Enrollment Id:
                        </div>
                        <div class="answer-details">
                            {%enrollment%}
                        </div>
                    </div>
                    <div class="details">
                        <div class="header-details">
                            Gender:
                        </div>
                        <div class="answer-details">
                            {%gender%}
                        </div>
                    </div>
                </div>
                <div class="details-1">
                    <div class="details">
                        <div class="header-details">
                            Department:
                        </div>
                        <div class="answer-details">
                            {%department%}
                        </div>
                    </div>
                    <div class="details">
                        <div class="header-details">
                            Supervisor:
                        </div>
                        <div class="answer-details">
                            {%supervisor%}
                        </div>
                    </div>
                    <div class="details">
                        <div class="header-details">
                            Proposed Theme:
                        </div>
                        <div class="answer-details">
                            {%theme%}
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-details">
                <img src="student_photo/{%studentPhoto%}" style="width:7rem;height:7rem;border-style:solid;border-radius: 7px;border-color:black;border-width:1.5px;" alt="Couldn't load image">
                <a href="/logout">Log Out</a>
            </div>
        </div>
        <div class="report-submit2">
            <div class="report-buttons">
                <button class="submit-btn-active" onclick="submit_btn()" id="sub_btn">Submit A Report</button>
                <button class="prev-btn" onclick="prev_btn()" id="pre_btn">View Previous Reports</button>
            </div>
            <div class="report-submit" id="report-sbmt-chk">
                <form method="POST" id="submit-report" action="/submitReport" enctype="multipart/form-data">
                    <div class="sb1">
                        Title: &nbsp;<input type="text" id="title" name="title" required>
                        Semester: &nbsp;<select name="semester" id="semester">
                            {%semesterSelect%}
                        </select>
                    </div>
                    <div class="sb2">
                        Description: &nbsp;<input type="text" id="description" name="description">
                        Upload Report: &nbsp;<input type="file" id="file-upload" name="report"class="custom-file-input" required>
                    </div>
                    <div class="sb3">
                        <input type="submit" name="submit" value="Submit Report">
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <script>
        function submit_btn(){
            var x = document.getElementById("report-sbmt-chk");
            x.innerHTML = "";
            x.innerHTML = `<form method="POST" id="submit-report" action="/submitReport" enctype="multipart/form-data">
                    <div class="sb1">
                        Title: &nbsp;<input type="text" id="title" name="title" required>
                        Semester: &nbsp;<select name="semester" id="semester">
                            
                            {%semesterSelect%}
                        </select>
                    </div>
                    <div class="sb2">
                        Description: &nbsp;<input type="text" id="description" name="description">
                        Upload Report: &nbsp;<input type="file" id="file-upload" name="report" class="custom-file-input" required>
                    </div>
                    <div class="sb3">
                        <input type="submit" name="submit" value="Submit Report">
                    </div>
                    
                </form>`;
                var y = document.getElementById("sub_btn");
                y.removeAttribute("class");
                y.setAttribute("class","submit-btn-active");
                var z = document.getElementById("pre_btn");
                z.removeAttribute("class");
                z.setAttribute("class","prev-btn");
        }
        function prev_btn(){
            var x = document.getElementById("report-sbmt-chk");
            x.innerHTML = "";
            x.innerHTML = `{%prevReport%}`;
           
                var y = document.getElementById("sub_btn");
                y.removeAttribute("class");
                y.setAttribute("class","submit-btn");
                var z = document.getElementById("pre_btn");
                z.removeAttribute("class");
                z.setAttribute("class","prev-btn-active");
        }
    </script>
</body>

</html>