* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
    overflow-x:hidden; 
}
.logOutClass{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:6rem;
    width:100%;
    height:5%;
}
.logOutClass>div{
    width:74%;
}
.logOutClass>a{
    width:15%;
    text-decoration: none;
}
.main-content{
    width:100%;
    height:100%;
    /*margin-top:6rem;*/
    overflow-y:scroll;
    overflow-x:hidden;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}
.list{
    width:20%;
    height:60%;
    margin:2%;
    /*background-image:linear-gradient(to top,#26D0CE,#1A2980);*/
    background:#ababab;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.list>img{
    width:105px;
    height:135px;
    border-color:white;
    border-width:2px;
    border-style:solid;
}
.g1{
    height:10%;
    font-weight:bold;
    font-size:1.3em;
    margin:1%;
    color:#0a0a0a;
}
.g2{
    height:7%;
    font-weight:bold;
    font-size:0.9em;
    margin:1%;
    color:#0b0b0b;
}
.g3{
    height:5%;
    font-weight:bold;
    font-size:0.7em;
    color:#1A1a1a;
    margin:1%;
}
.list>input{
    height:10%;
    width:50%;
    margin:1%;
    border:none;
    /*background-image:linear-gradient(to left,#348F50,#56B4D3);*/
    background:#5375e2;
    color:white;
    border-radius:4px;
}
.list>input:hover{
    color:#5375e2;
    background-color:white;
    cursor:pointer;
}