* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
    overflow-x:hidden; 
}
.logOutClass{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:6rem;
    width:100%;
    height:5%;
}
.logOutClass>div{
    width:74%;
}
.logOutClass>a{
    width:15%;
    text-decoration: none;
}
.main-content{
    width:100vw;
    /* height:100vh; */
    /* overflow-y:scroll;
    overflow-x:hidden; */
    display:flex;
    flex-direction:column;
     align-items:center;
    justify-content:center;
}
.form-class{
    /* height:100vh; */
    width:95%;
    display:flex;
    flex-direction:column;
/* 
    align-items:center;
    justify-content:center; */
}
.full-set{
    display:flex;
    flex-direction:column;
    margin-top:1%;
}
.set{
    background-color:#B6BCFF;
    height:20rem;
    /* margin-top:1%; */
    display:flex;
    flex-direction:row;
}
.head-set{
    width:100%;
    height:6 rem;
    background-color:#7A84FB;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-family: 'Zen Dots', cursive;
    color:#1C2AD7;
    font-size:1.5em;
}
.head-set>p{
    flex:1;
    font-family: 'Zen Dots', cursive;
    color:#1C2AD7;
    font-weight:bold;
}
.exam-set{
    width:32%;
    height:100%;
    margin-left:1%;
    background-color:#C8CCF9;
    display:flex;
    flex-direction:column;
}
.set-space1{
    flex:1;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.set-space2{
    flex:2;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.set-heading{
    flex:2;
}
.set-input{
    flex:5;
}
.set-space3{
    flex:0.4;
}
.submit-class{
    font-size:10em;
    width:15%;
    height:100%;
    align-self:center;
    color:#008304;
    background-color:#5AB15C;
    border:solid 1px;
    margin-left:15%;
}
.submit-class:hover{
    background-color:#008304;
    color:#5AB15C;
    cursor:pointer;
}
.empty{
    height:5rem;
}