* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

input.invalid {
    background-color: #ffdddd;
}

.text-ip-table {
    width: 50%;
}

.submit-btn {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 1%;
}

.logout {
    padding-top: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }