* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}
.logOutClass{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
    width:100%;
    height:5%;
}
.logOutClass>div{
    width:74%;
}
.logOutClass>a{
    width:15%;
    text-decoration: none;
}
.all-content{

    width:100vw;
    height:100vh;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
}
.intro{
    height:10rem;
    font-size: 1.3em;
    /*background-color:red;*/
    display:flex;
    flex-direction:row;
}
.intro>p{
    width:90%;
}
.intro>a{
    width:10%;
}
.details{
    height:85%;
    width:100%;
    display:flex;
    flex-direction:row;
}
.main-content{
    height:86rem;
    display:flex;
    flex-wrap:wrap;
    overflow-y:scroll;
    align-items:center;
    justify-content:center;
}
.image-content{
    width:30%;
    display:flex;
    align-items:center;
    justify-content:center;

}
.form-class{
    width:45%;
    height:40%;
    background-color:#bababa;
    margin:1%;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius:20px;
    border-color:black;
    border-style:solid;
    border-width:1.5px;
}
img{
    width:77px;
    height:100px;
    border-color:white;
    border-width:3px;
    border-style:solid;
    border-radius:6px;
}
.form-class >input{
    /*background-image:linear-gradient(to right,#2193b0,#6dd5ed);*/
    background-color:#2193b0;
    color:white;
    border:none;
    padding:5px;
    border-radius:5px;
}
.form-class >input:hover{
    /*background-image:linear-gradient(to left,#2193b0,#6dd5ed);*/
    background-color:#6dd5ed;
    color:black;
    cursor:pointer;
}
.rest-content{
    width: 100%;
    display:flex;
    flex-direction:column;
}
.data1{
    width:96%;
    display:flex;
    flex-direction:row;
    flex:1;
    /*background-color:#a0a0a0;*/
    /*background-image:linear-gradient(to left,#bababa,#999999);*/
}
.data2{
    width:96%;
    display:flex;
    flex-direction:row;
    flex:1;
    background-color:#a0a0a0;
    /*background-image:linear-gradient(to right,#bababa,#999999);*/
}
.rest-heading{
    width:40%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    font-size:0.9em;
}
.rest-ans{
    width:60%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    font-weight:bold;
    font-size:0.85em;
    text-align:justify;
}