* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fefefe;
}
.logOutClass{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
    width:100%;
    height:5%;
}
.logOutClass>div{
    width:74%;
}
.logOutClass>a{
    width:15%;
    text-decoration: none;
}
.main-content {
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
    font-size: small;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

#checkedBox {
    font-size: medium;
    margin-top: 5px;
    background-color: lightgrey;
}

#checkedList {
    width: 120px;
    height: 30px;
    background-color: lightgray;
    font-size: medium;
}

#checkboxList {
    overflow-y: scroll;
    position: absolute;
}

.intro {
    flex: 2;
    /* flex-wrap: wrap; */
    margin-top: 1%;
    font-size: 1.3em;
    width: auto;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    height: 50px;
}
.intro>p{
    width:90%;
}
.intro>a{
    width:10%;
}
.list {
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
}

.list1 {
    height: 15%;
    background-color: #cccccc;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.approve {
    color: lightgreen;
    background-color: green;
}

.container {
    width: 100%;
    margin: auto;
}

.det1 {
    flex: 1;
    margin: 2px;
    height: auto;
    align-self: center;
    text-align: center;
}

.det2 {
    flex: 1;
    margin: 2px;
    display: flex;
    flex-direction: column;
}

.det2>input {
    flex: 1;
    width: 80%;
    height: 40%;
    border: none;
    border-radius: 10px;
    margin: 2px;
}

.det3 {
    height: 35%;
    width: 40%;
    float: left;
}

.discard {
    color: lightcoral;
    background-color: darkred;
}

.hide {
    flex: 0;
}

input {
    height: 100%;
    width: 10%;
    background-color: #ffc3a0;
}

.multiselect {
    width: 250px;
    height: 40px;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.racApprove {
    width: 120px;
    height: 30px;
    font-size: medium;
    background-color: green;
    font-family: 'Times New Roman', Times, serif;
    color: lightgreen;
    border-radius: 4px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.special {
    height: 6%;
    margin-bottom: 1%;
}
