* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
}

.main-content {
    margin-top: 6rem;
    display:flex;
    flex-direction:column;
}
.intro>p{
    width:90%;
}
.intro>a{
    width:10%;
}
.intro {
    margin-top: 1%;
    font-size: 1.3em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    height: 8vh;
    
}
.menu-class{
	height:73vh;
	width:100vw;
	display:flex;
	flex-direction: row;
}
.button-class{
	width:20%;
	background-color:#C8CCF9;
	display:flex;
	flex-direction:column;
}

.nactive{
	height:10%;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:#4367D1;
	color:#B4BEDC;
	text-decoration:none;
	font-weight:bold;
}
.active{
	height:10%;
	display:flex;
	align-items:center;
	justify-content:center;
	text-decoration:none;
	color:#153796;
}
.active:hover{
	background-color:#7A96E7 ;
	color:#fefefe;
}
.list{
	width:80%;
	display:flex;
	flex-direction:column;
	align-items:center;
	overflow-y:scroll;
	margin-top:2%;
	/*background-color:blue;*/
}
.list1{
	height:16%;
	width:95%;
	background-image:linear-gradient(to right, #6190E8, #A7BFE8);
	border-radius:10px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}
.list2{
	height:16%;
	width:95%;
	background-image:linear-gradient(to left, #6190E8, #A7BFE8);
	border-radius:10px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}
.det2{
	flex:1.5;
	display:flex;
	flex-direction:column;
}
.det2 > input{
	width:90%;
	font-size:0.98em;
	margin:3px;
	height:70%;
	border-radius:5px;
}
.det1{
	flex:2;
	text-align:center;
}
.approve{
	background-image:linear-gradient(to right, #000000,#0f9b0f);
	color:white;
	border:none;
}
.approve:hover{
	background-image:linear-gradient(to left, #000000,#0f9b0f);
	cursor:pointer;
}
.discard{
	background-image:linear-gradient(to right, #6f0000,#200122);
	color:white;
	border:none;
}
.discard:hover{
	background-image:linear-gradient(to left, #6f0000,#200122);
	cursor:pointer;
}
.form-class{
	background-image:radial-gradient(#ffafbd ,#ffc3a0);
	height:50%;
	width:30%;
	align-self:center;
	margin-left:auto;
	margin-right:auto;
	border-color:#ffafbd;
	border-width:3px;
	border-style:solid;
	border-radius:10px;
	box-shadow: 9px 10px 29px 13px rgba(0,0,0,0.3);
	display:flex;
	flex-direction:column;
}
.dets1{
	flex:2;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}
.dets1>label{
	width:45%;
	height:40%;
}
.dets1>select{
	width:45%;
	height:40%;
}
.dets1>input{
	width:45%;
	height:40%;
}
.dets3{
	flex:3;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}
.dets3>label{
	width:45%;
	height:30%;
}
.dets3>select{
	width:45%;
	height:30%;
}
.dets3>input{
	width:45%;
	height:30%;
}
.dets2{
	flex:2;
	display:flex;
	align-items:center;
	justify-content:center;
}
.dets2>input{
	background-image:linear-gradient(to right,#2193b0,#6dd5ed);
	width:30%;
	height:45%;
	border:none;
}
.dets2>input:hover{
	background-image:linear-gradient(to left,#2193b0,#6dd5ed);
	cursor:pointer;
}