* {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
}

.heading {
    flex: 1;
    background-color: #f3aa92;
    display: flex;
    flex-direction: row;
}

img {
    flex: 1;
    width: 90px;
    height: 90px;
}

.heading-det {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.heading-det-eng {
    flex: 4;
    font-size: 1.6em;
    font-weight: bold;
    color: #5c616e;
}

.heading-det-ban {
    flex: 3;
    font-size: 1.5em;
    font-weight: bold;
    color: #5c616e;
}

.heading-det-empty {
    flex: 2.2;
}

.heading-empty {
    flex: 7;
}

.main {
    flex: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-message {
    flex: 2;
    text-align: center;
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: bold;
}

.main-track {
    flex: 2;
    width: 55%;
    display: flex;
    flex-direction: row;
}

.main-track-accepted {
    flex: 1;
    margin: 10px;
    background-color: #2e8b57;
    color: #97c5ab;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-track-text {
    text-align: center;
    height: auto;
    font-size: 0.9em;
    font-weight: bold;
}

.main-track-process {
    flex: 1;
    margin: 10px;
    background-color: #a5a5a5;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-track-rejected {
    flex: 1;
    margin: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-empty {
    flex: 7;
}