<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/header.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
<div class="heading">
    <div class="heading-det">
        <img src="images/ju_logo.png">
        <div class="heading-det-name">

            <div class="heading-det-name-empty"></div>
            <div class="heading-det-name-eng">
                JADAVPUR UNIVERSITY
            </div>
            <div class="heading-det-name-ban">
                যাদবপুর বিশ্ববিদ্যালয়
            </div>
            <div class="heading-det-name-empty"></div>
        </div>
    </div>
    <div class="heading-empty">

    </div>
    <div class="heading-log">
        <select name="login_type" id="login" onclick="changeLog()">
            <option value="STUD">Student</option>
            <option value="SUP">Faculty</option>
            <option value="RAC">Research Advisory Committee</option>
            <option value="PRC">Postgraduate Research Committee</option>
            <option value="DC">Doctorate Committe</option>
        </select>
    </div>
</div>
</body>

<script>
    function change() {
        var x = document.getElementById("login").value;
        document.getElementById("login-ip").value = x;
    }
    var x = change();

    function changeLog() {
        change();
    }
</script>

</html>