<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/add_account.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add PRC</title>
</head>
<body>
  <img src="images/header.png" style="width:100%;height:auto;position:fixed;top:0; z-index: 0;opacity: 0.9;">
  <div class="main-content">
    <div class="container">
      <div class="formbody">
        <form action="addPRC" method="POST">
          <h1>Register PRC</h1>
          <p>Please fill in this form to create an account.</p>
          <div class="error"><h6>{%error%}</h6></div>
          <hr>

          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" id="email" required>

          <label for="stud"><b>Department ID</b></label>
          <input type="text" placeholder="Enter Department ID" name="dept_id" id="dept_id" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
      
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="repeat_psw" id="psw-repeat" required>
          <hr>
          <button type="submit" class="registerbtn">Register</button>
          </form>
        </div>
      </div>
    </div>
</body>
</html>