<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/admin_add.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Account</title>
</head>
<body>
  <img src="images/header.png" style="width:100%;height:auto;position:fixed;top:0; z-index: 0;opacity: 0.9;">
  <div class="main-content">
    <form action="addSelectedType" method="post">
      <div class="container">
        <div class="formbody">
          <div class="formhead">
            <h1>Welcome to Add page!</h1>
          </div>
          <div class="formdesc">
            <h3>Click submit to add selected entity</h3>
          </div>
          <div class="dropdown1">
            <select name="type" id="type">
              <option value="supervisor">Supervisor</option>
              <option value="prc">Postgraduate Research Committee</option>
              <option value="dc">Doctorate Committe</option>
            </select>
          </div>
          <div class="formbtn">
            <input type="submit" class="btn">
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
