<html>
<head>
	<title>Student List</title>
	<link rel="stylesheet" href="css/styles.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
	<img src="images/header.png" style="width:100%;height:auto;position:fixed;top:0; z-index: 0;opacity: 0.9;">
    <div class="main-content">
        <h1>Welcome to Admin page!</h1>
        <h2>Check student list or add account here</h2>
        <div class="list">
            <form id="waitinglist-form" method="POST" action="/studentList">
                <input type="submit" name="Student List" value="Student List" class="btn-ip">
            </form>
            <form id="waitinglist-form" method="POST" action="/addAccount">
                <input type="submit" name="Student List" value="Add account" class="btn-ip">
            </form>
        </div>
    </div>
</body>
</html>