<html>
<head>
	<title>Student List</title>
	<link rel="stylesheet" href="css/styles.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="heading">
        <div class="heading-det">
            <img src="images/ju_logo.png">
            <div class="heading-det-name">

                <div class="heading-det-name-empty"></div>
                <div class="heading-det-name-eng">
                    JADAVPUR UNIVERSITY
                </div>
                <div class="heading-det-name-ban">
                    যাদবপুর বিশ্ববিদ্যালয়
                </div>
                <div class="heading-det-name-empty"></div>
            </div>
        </div>
        <div class="heading-empty">

		</div>
	</div>
	<h1>Welcome to Admin page!</h1>
	<h2>Check the student list here</h2>
	<div class="list">
		<form id="waitinglist-form" method="POST" action="/studentList">
			<input type="submit" name="Student List" value="Student List" class="btn-ip">
		</form>
	</div>
</body>
</html>