<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="background-color: darkseagreen;">
    <img src="/images/header.png" style="width:100%;height:auto;opacity: 0.9;">
    <p>
        {%listContent%}
    </p>
    <br> <br>
    <form id="approval-form" method="post">
        <input type="hidden" name="stud_id" value="{%student_value%}">
        <p>Fees Paid: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="fees_status" value="Yes" id="Fees_yes">

            <label for="Fees_yes">Yes</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="fees_status" value="No" id="Fees_no">

            <label for="Fees_no">No</label>
        </p>
        <input type="text" name="enroll_id" class="enroll-class" placeholder="Enter Enrollment Id">

        <input type="submit" name="Approve" value="Approve" class="btn-ipAccept" formaction="/approve">
        <input type="submit" name="Reject" value="Reject" class="btn-ipReject" formaction="/reject">
    </form>
</body>

</html>