<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/successPage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
  <img src="images/header.png" style="width:100%;height:auto;position:fixed;top:0; z-index: 0;opacity: 0.9;">
    <div class="main-content">
      <div class="container">
          <!-- <div class="heading">
            <div id="julogo">
              <img src="images/ju_logo.png">
            </div>
            <div class="headname">
              <h1 id="headnameeng">Jadavpur University</h1>
              <h1 id="headnamebeng">যাদবপুর বিশ্ববিদ্যালয়</h1>
            </div>
          </div> -->
          <div class="formbody">
            <h1>Register Successful!</h1>
            <h3>A email with Account id and password has been sent.</h3>
              <form action="/" method="GET">
                  <div class="formbtn">
                      <button type="submit" class="btn">Home</button>
                  </div>
              </form>
          </div>
      </div>
    </div>
</body>
</html>