<div style="background-color:#fefefe;width:70%;height:70%;">
<p>Dear Sir,</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You had been Invited as External Examiner for PhD Student in Jadavpur University</p>
<p>To accept the Invitation <a href="http://localhost:8000/examAccepted?{%query%}" style="color:green;" target="_blank">Click Here</a></p>
<p>To reject the Invitation <a href="http://localhost:8000/examRejected?{%query%}" style="color:red" target="_blank">Click Here</a></p>
<p>Use the following Credentials:</p>
<p>Username:<b>{%username%}</b></p>
<p>Password:<b>{%password%}</b></p>
<p>Thank You So Much</p>
</div>
